<!DOCTYPE html>
<html lang="en">
<head>	
	<meta charset="UTF-8">	
	<title><%= cfg.title %></title>
	<base href="/">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="<%=cfg.description %>">
	<meta name="keywords" content="<%= cfg.keywords %>">

	<script type="text/javascript" src="assets/js/index.js"></script>

<% if (__ENV__ == 'production') { %>
	<link rel="stylesheet" type="text/css" href="assets/css/index.css">
<% } else { %>
	<script type="text/javascript" src="http://localhost:35729/livereload.js"></script>
<% } %>

</head>
<body>
	<div class="root">
		<header>
			<!-- HEADER -->
			<%- include('./index/header/header.html', {
				data: cfg.require(cfg.pathResolve('./src/layouts/index/header/data.js'))
			}) %>
		</header>
	</div>
</body>
</html>
